<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Html</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        a{
            color:black;
            margin-right: 10px;
        }
        img{
            height: 282px;
            width: 282px;
        }
    </style>
</head>
<body>
<div class="container-md pt-3">
    <div class="row row-cols-2">
        <div class="col-7">
            <h4>Eventually</h4>
        </div>
        <div class="col-5">
            <a href="#">Home</a>
            <a href="{% url 'add_event' %}">Ask for event</a>
            <a href="#">Services</a>
            <a href="#">Contact us</a>
            <a href="#">News</a>
        </div>
    </div>
</div>
<div class="container-fluid mt-4">
    {% block content %} {% endblock %}
</div>
</body>
</html>